
@{
    ViewData["Title"] = "用户信息表单";
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}

<form id="userForm" lay-filter="userForm" class="layui-form model-form">
    <input id="Id" name="Id" type="hidden" />
    <div class="layui-form-item">
        <label class="layui-form-label">账号</label>
        <div class="layui-input-block">
            <input id="UserName" name="UserName" placeholder="请输入账号" type="text" class="layui-input" autocomplete="off" maxlength="20"
                   lay-verify="required|UserName" required onblur="unameIsExist(this);" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">真实姓名</label>
        <div class="layui-input-block">
            <input name="RealName" placeholder="请输入真实姓名" type="text" class="layui-input" autocomplete="off" maxlength="20"
                   lay-verify="required" required />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">年龄</label>
        <div class="layui-input-block">
            <input name="Age" type="number" class="layui-input" lay-verify="number" value="0" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">电子邮件</label>
        <div class="layui-input-block">
            <input name="Email" placeholder="请输入电子邮件" type="email" class="layui-input" autocomplete="off" lay-verify="required|email" required />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">联系地址</label>
        <div class="layui-input-block">
            <textarea name="Address" placeholder="请输入联系地址" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">备注信息</label>
        <div class="layui-input-block">
            <textarea name="Remark" placeholder="备注信息" class="layui-textarea"></textarea>
        </div>
    </div>
    @*<div class="layui-form-item">
            <label class="layui-form-label">角色</label>
            <div class="layui-input-block">
                <select name="roleId" xm-select="roleId" lay-verify="required">
                    <option value="1">超级管理员</option>
                    <option value="2">管理员</option>
                    <option value="3">普通用户</option>
                    <option value="4">测试角色</option>
                    <option value="5">测试角色2</option>
                </select>
            </div>
        </div>*@
    <div class="layui-form-item text-right">
        <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
        <button class="layui-btn" lay-filter="btnSubmit" lay-submit>保存</button>
    </div>

</form>
@section scripts{
    <script src="~/assets/js/user/form.js"></script>
}