
@{
    ViewData["Title"] = "用户信息管理";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}
@section styles{

}
<!-- 页面加载loading -->
<div class="page-loading">
    <div class="rubik-loader"></div>
</div>
<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">

            <div class="layui-form toolbar">
                <div class="layui-form-item" id="searchFrom">
                    <div class="layui-inline">
                        <label class="layui-form-label">用&nbsp;&nbsp;户&nbsp;&nbsp;名：</label>
                        <div class="layui-input-inline">
                            <input class="layui-input" type="text" id="UserName" name="UserName" placeholder="输入用户名" />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">姓&emsp;&emsp;名：</label>
                        <div class="layui-input-inline">
                            <input class="layui-input" type="text" id="RealName" name="RealName" placeholder="输入姓名" />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">状&emsp;&emsp;态：</label>
                        <div class="layui-input-inline">
                            <select id="Status" name="Status">
                                <option value="">所有</option>
                                <option value="1">正常</option>
                                <option value="0">锁定</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">注册时间：</label>
                        <div class="layui-input-inline">
                            <input id="CreateTime" name="CreateTime" class="layui-input date-icon" type="text"
                                   placeholder="选择注册时间区间" />
                        </div>
                    </div>
                    <div class="layui-inline" style="padding-left: 20px;">
                        <button class="layui-btn icon-btn" id="btnSearch">
                            <i class="layui-icon">&#xe615;</i>搜索
                        </button>
                        <button class="layui-btn icon-btn" id="btn_add">
                            <i class="layui-icon">&#xe654;</i>添加
                        </button>
                        <button class="layui-btn icon-btn layui-btn-danger" id="btn_delAll">
                            <i class="layui-icon">&#xe640;</i>批量删除
                        </button>
                        <button id="btnExport" class="layui-btn icon-btn">
                            <i class="layui-icon">&#xe67d;</i>导出
                        </button>
                    </div>
                </div>
            </div>
            <table class="layui-table" id="userTable" lay-filter="userTable"></table>

        </div>
    </div>

</div>

<!-- 表格操作列 -->
<script type="text/html" id="tableBar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    <a class="layui-btn layui-btn-xs" lay-event="reset">重置密码</a>
</script>

<!-- 表格状态列 -->
<script type="text/html" id="tbaleState">
    <input type="checkbox" lay-filter="ckUserState" value="{{d.Id}}" lay-skin="switch" lay-text="正常|锁定"
           {{d.Status === 1 ?'checked':''}} />
</script>
@section scripts{
    <script src="~/assets/js/user/index.js"></script>
}
